* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
}

.playHead{
  height: 100px;
  background-color: #9A9B8D;
}

.playHead span{
  display: inline-block;
  position: relative;
  color: #EEEEEE;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 100;
  padding-left: 5%;
  padding-top: 55px;
}

.trackSelector{
  height: 150px;
  overflow: auto;
  white-space: nowrap;
  overflow-x: scroll;
}

.artList {
  color: #EEEEEE;
  display: inline-block;
  height: 100px;
  width: 110%;
  margin-top: 20px;
  margin-left: 25px;
}

.albumArt{
  height: 100px;
  width: 100px;
  margin-left: 30px;
  cursor: pointer;
}

.selectedTracks{
  height:270px;
  background-color: #EEEEEE;
  border: solid 4px black;
  display: inline-block;
  margin-top: 30px;
  overflow: scroll;
}

.trackInfo{
  font-size: 20px;
  margin-left: -10px;
}


.clearAndSubmitRow{
  height:175px;
  display: inline-block;
  margin-top: 30px;
}

.clearButton {
  cursor: pointer;
}
.clearButton span{
  background-color: #343525;
  color: #EEEEEE;
  padding: 8px 20px;
  text-align: center;
  display: inline-block;
  font-size: 23px;
  font-family: sans-serif;
  font-weight: 100;
  border-radius: 5px;
  height: 50px;
  width: 90%;
  margin-left: -15px;
}

.submitButton {
  cursor: pointer;
}

.submitButton span{
  background-color: #343525;
  color: #EEEEEE;
  padding: 8px 20px;
  text-align: center;
  display: inline-block;
  font-size: 23px;
  font-family: sans-serif;
  font-weight: 100;
  border-radius: 5px;
  height: 50px;
  width: 90%;
  margin-left: -45px;
}

.playFoot{
  height: 50px;
  background-color: #67675B;
  position: relative;
}

.playFoot span{
  color: white;
  font-size: 20px;
  font-weight: 200;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
}

.trackSelector::-webkit-scrollbar {
    width: 1em;
}

.trackSelector::-webkit-scrollbar-track {
    background-color: #EEEEEE;
}

.trackSelector::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 7px;
}
